---
layout: default
title: "Resume"
enable_cover_letter: true
include_page2_header: true
resume-pdf-title: "Principal Software Engineer - Tom DeMay Resume - 2023-06"
cv-pdf-title: "Principal Software Engineer - Tom DeMay CV - 2023-06"
---

{% include resume/headline.html %}
{% include resume/summary.html %}
{% include resume/professionalskills.html %}
{% include resume/employmenthistory.html %}
{% include resume/education.html %}
{% include resume/certifications.html %}
{% include resume/patents.html %}
{% include resume/publications.html %}
{% include resume/hobbies.html %}

<script>
    function getPdfTitle() {
        var checkbox = document.getElementById('show-cover-letter-checkbox');
        return checkbox.checked ? "{{ page.cv-pdf-title }}" : "{{ page.resume-pdf-title }}";
    }
    window.addEventListener('beforeprint', function() {
        var pageTitle = document.getElementsByTagName('title')[0];
        pageTitle.innerText = getPdfTitle();
    });
    window.addEventListener('afterprint', function() {
        updateTitle();
    });
</script>
