<details id="htmlcss">
    <summary>
        <div class="header">
            <span class="left">HTML, CSS and JavaScript</span>
            <span class="right"></span>
        </div>
    </summary>
    <p>Creating this site gave me a deeper understanding of CSS, JavaScript and the DOM object model. I better
        understand how easy it is to change the layout of a site based on different criteria. With minor CSS changes the
        layout of this site is radically different whether it's being viewed on a desktop computer, mobile phone,
        printed or exporting to PDFs.</p>
</details>