<details id="sqlite">
    <summary>SQLite</summary>
    <p>RabbitMQ is a message broker that focuses on facilitating communication and message
        exchange between different systems. It primarily acts as a middleware for handling message queues and routing
        messages between producers and consumers.
    </p>
    <p>
        By default, RabbitMQ does not provide built-in support for storing data in a database. Its main purpose is to
        handle the reliable delivery of messages between applications or services. However, you can integrate RabbitMQ
        with other systems or databases to store data if needed.
    </p>
    <p>
        I created a local SQLite database that stored all the information and result data from RabbitMQ.
    </p>
</details>