<details>
    <summary id="altamira"> <span class="left"><strong>Altamira Technologies Coproration</strong></span>
        <span class="right">McLean, Virginia</span><br>October 2023 - Present<br>
        <i>Lead Senior Software Engineer IV</i>
    </summary>

    <p>Altamira provides engineering and analytic services to the defense, intelligence and homeland security
        communities. As a lead engineer, I oversee the development of applications and services that support
        the <strong>Department of Defense (DoD)</strong> and the <strong>Intelligence Community (IC)</strong>, mentor
        junior developers, providing guidance on software development best practices and helping
        them grow their technical skills.</p>

    <ul class="projects-list">
        <li>Within my first three weeks, I took the initiative to establish the testing, building, staging, and
            orchestration infrastructure for a containerized Rust service. The service uses a consensus algorithm to
            maintain a network of server nodes that will identify and track threats to national security. In addition I
            introduced workflows to aid in development and debugging, and improved the CI pipeline.
        </li>
        <li>
            Tasked with overseeing a full-stack application with Vue.js on the frontend and series of microservices in
            Java on the backend. The priority is to trackdown the root cause of existing performance problems in the
            backend microservices and mentoring junior developers in a refactoring effort to improve performance.
        </li>
        <li>
            The expectation once I am fully onboarded is to oversea engineering efforts for a variety of projects which
            include cloud-based solutions using React on the front end and GoLang on the back end and other projects
            with tech stacks that include Java and Spring Boot, Kubernetes, Amazon Web Services (AWS), CloudFront,
            CloudWatch, Cognito, and Lambda Microservices.
        </li>
    </ul>
</details>