<details>
    <summary id="altamira"> <span class="left"><strong>Altamira Technologies Coproration</strong></span>
        <span class="right">McLean, Virginia</span><br>October 2023 - Present<br>
        <i>SWEIV - Manager, Senior Software Engineer Lead</i>
    </summary>

    <p>Altamira provides engineering and analytic services to the defense, intelligence and homeland security
        communities. As a lead engineer, I oversee the development of applications and services that support
        the <strong>Department of Defense (DoD)</strong> and the <strong>Intelligence Community (IC)</strong>, mentor
        junior developers, providing guidance on software development best practices and helping
        them grow their technical skills.</p>

    <ul class="projects-list">
        <li>Within my first three weeks, I took the initiative to establish the testing, building, staging, and
            orchestration infrastructure for a containerized <strong>Rust</strong> service with <strong>Docker</strong>.
            The service uses a <strong>consensus algorithm</strong> to task a network of server nodes that will
            identify and track threats to <strong>National Security</strong>. In addition I introduced workflows to aid
            in development and debugging, and improved the CI pipeline.
        </li>
        <li>
            Tasked with overseeing a full-stack application with <strong>Vue.js</strong> on the frontend and series of
            microservices in <strong>Java</strong> on the backend. The priority is to trackdown the root cause of
            existing performance problems in the backend microservices and mentoring junior developers in a refactoring
            effort to improve performance.
        </li>
        <li>
            The expectation once I am fully onboarded is to oversea engineering efforts for a variety of projects which
            include cloud-based solutions using <strong>React</strong> on the front end and <strong>GoLang</strong> on
            the back end and other projects with tech stacks that include <strong>Java</strong> and <strong>Spring
                Boot</strong>, <strong>Kubernetes</strong>, <strong>Amazon Web Services (AWS)</strong>,
            <strong>CloudFront</strong>, <strong>CloudWatch</strong>, <strong>Cognito</strong>, and <strong>Lambda
                Microservices</strong>.
        </li>
    </ul>
</details>