<details>
    <summary>
        <span class="left">Amazon AWS/EC2<br></span> <span class="right">Herndon,
            VA</span><br> January 2020 - September 2023<br> <i>Senior
            Software Engineer (SDE II)</i>
    </summary>
    <p>I held a senior position on the EC2 Zonal Interface Management (ZIM) team. ZIM plays a critical role in managing
        all network interfaces and IP addresses for EC2. It operates at a low level and relies on AWS technologies such
        as DynamoDB and S3.
    </p>
    <ul class="projects-list">
        <li>Senior engineer on the EC2 Zonal Interface Management (ZIM) team, managing EC2 networking across AWS
            regions.</li>
        <li>Implemented code refactoring initiatives in Java, Ruby, and Scala, enhancing service modularity and
            maintainability.</li>
        <li>Optimized service scalability and performance across multiple EC2 regions, reducing round trips and
            enhancing service host efficiency.</li>
        <li>Collaborated on enabling user tagging of EC2 resources, developing test plans and ensuring secure execution
            within AWS environments.</li>
        <li>Implemented idempotent support in existing public APIs, coordinating with cross-functional teams for
            seamless feature releases.</li>
        <li>Contributed to On-Call rotation, ensuring uninterrupted service availability and resolving critical
            incidents promptly.</li>
    </ul>
</details>