<details>
    <a name="dellc"></a>
    <a name="llc"></a>
    <a name="demayenterprisesllc"></a>
    <summary>
        <span class="header">
            <span class="left">DeMay Enterprises, LLC</span>
            <span class="right">March 2003 - March 2011</span>
        </span>
        <div class="description">
            Ashburn, Virginia<br>
            <i>Owner</i>
        </div>
    </summary>
    <p>Created <a href="https://www.discountcasinogear.com/" target="_blank">Discount Casino Gear<i
                class="fas fa-external-link-alt fa-xs"></i></a> as a successful side business venture. </p>
    <ul class="projects-list">
        <li>Founded and managed Discount Casino Gear, a successful online retail venture utilizing ASP.NET, SQL Server,
            and automated pricing strategies.</li>
        <li>Achieved significant revenue growth and market leadership through strategic planning and continuous product
            innovation.</li>
        <li>Successfully transitioned and sold the business on the Volusion platform, realizing profitable returns.</li>
    </ul>
</details>