<details>
    <a name="dellc"></a>
    <a name="llc"></a>
    <a name="demayenterprisesllc"></a>
    <summary>
        <span id="demayenterprises" class="left"><strong>DeMay Enterprises, LLC</strong></span>
        <span class="right">Ashburn, Virginia</span><br>
        March 2003 - March 2011<br>
        <i>Owner</i>
    </summary>
    <p>Created <a href="https://www.discountcasinogear.com/" target="_blank"><strong>Discount Casino
                Gear</strong><i class="fas fa-external-link-alt fa-xs"></i></a> as a successful side
        business venture. Employing web development tools like
        <strong>Microsoft FrontPage</strong>, <strong>Adobe
            Dreamweaver</strong>, and <strong>Microsoft Visual Web Developer</strong>, I
        meticulously crafted the website from scratch. Originally built with
        <strong>Classic ASP and VBScript</strong>, <strong>HTML</strong>, and
        <strong>CSS</strong>. I later undertook a significant refactoring effort,
        migrating the site to <strong>ASP.NET</strong> framework.
        Backend operations were powered by <strong>Microsoft SQL Server</strong>.
    </p>
    <ul class="projects-list">
        <li>The website generated a half a million in annual revenue within six months of its
            initial launch. This remarkable success highlighted the effectiveness of my
            strategic planning, continuous learning and diligent execution.</li>
        <li>The website
            emerged as the top retail website in its market, capturing the loyalty
            of customers seeking casino gear products. My commitment to delivering
            exceptional products and an outstanding user experience propelled me to the
            forefront of the industry.</li>
        <li>Achieving unrivaled efficiency and productivity, the website operated as a
            fully automated system, generating new content through
            scripts written in <strong>VBA</strong>,
            <strong>C/C++</strong>, and <strong>C#</strong>. <strong>Regular Expressions (RegEx)</strong>
            was used in scripts that ran throughout the day to scrub competitor's websites and track
            how they were pricing products. This innovative approach
            enabled me to stay ahead of my competition, constantly
            refreshing my offerings and pricing.
        </li>
        <li>Recognizing the immense potential and value I had created, I strategically
            transitioned the website to the <strong>Volusion</strong> platform.
            This transition not only enhanced my capabilities but also positioned me for
            a successful sale. In March 2011, I sold the website for a profit.</li>
    </ul>
</details>