<details>
    <summary id="EMC">
        <span class="left"><strong>EMC</strong></span>
        <span class="right">Alexandria, Virginia</span><br>
        <i>Now a subsidiary of Dell</i><br>
        February 1997 - March 2009<br>
        <i>Principal Software Engineer</i>
    </summary>
    <p>Embarking on my journey with Softworks, a storage company
        that later became part of the EMC family, marked an exciting chapter in my
        career. As a key contributor to their internal support systems team, I harnessed
        my expertise in <strong>Visual FoxPro</strong> to spearhead the
        development of internal applications. These solutions empowered the
        administrative and sales teams, streamlining their processes and fueling their
        success.</p>
    <p>Eager to expand my horizons and broaden my technical repertoire, I embarked on a
        self-guided journey to master <strong>C/C++</strong>. Through
        determination and countless hours of learning, I acquired proficiency in
        this programming language. This newfound expertise proved instrumental
        in propelling me towards the product division of Softworks.</p>
    <ul class="projects-list">
        <li>Utilized the power of <strong>Web Based Enterprise Management
                (WBEM)</strong>, <strong>Common Information Model (CIM)</strong>, and
            <strong>Storage Management Initiative (SMI)</strong> technologies to
            engineer <strong>C++</strong> applications deployed across
            various <strong>Windows</strong> and <strong>UNIX</strong> platforms. These
            innovative solutions enabled seamless management, proactive alerts, and
            streamlined discovery of Storage Area Networks, empowering
            enterprises to optimize their storage infrastructure effectively.
        </li>
        <li>Assisted a team grappling with challenging requirements.
            Through proactive code refactoring, I
            revolutionized their approach to managing and reporting on storage system
            arrays. Furthermore, I established a process for integration
            testing with the enterprise system on a predictable basis. The impact was
            transformative:
            <ul>
                <li>Improved performance by a staggering 3,951% and slashed memory
                    consumption by an impressive 2,027%.</li>
                <li>Efficiency gains achieved through code and process enhancements led
                    to a remarkable team reduction from 6 to 2 skilled engineers,
                    enhancing resource allocation and driving cost savings.</li>
            </ul>
        </li>
        <li>Personally conducted training sessions for all EMC
            engineers in Alexandria, Virginia, on the proper
            techniques to maintain large data structures utilizing
            <strong>Standard Template Library (STL)</strong>.
        </li>
        <li>Developed a Windows <strong>device
                driver</strong> capable of efficiently managing storage and providing
            comprehensive reports on system resources. This <strong>device
                driver</strong> empowered users to harness the full potential of their
            systems, elevating their productivity and enabling seamless operations.</li>
        <li>Steered a highly skilled team of 7 brilliant minds proficient in
            <strong>C#</strong>, <strong>C/C++</strong>, <strong>MVS</strong>, and
            <strong>Java</strong> to architect an application framework that
            became the backbone of EMC's Control Center client applications. This
            revolutionary framework spanned across diverse platforms, including
            <strong>Windows</strong>, <strong>AIX</strong>, <strong>HP/UX</strong>,
            <strong>Solaris</strong>, <strong>Linux</strong>, and <strong>MVS</strong>
        </li>
        <li>Orchestrated the integration of two prominent companies and their
            respective products, leveraging the power of
            <strong>Java</strong>. For my contributions, I was honored with
            EMC's prestigious <strong>Most Valuable Player</strong> award among a team
            of 200 talented engineers in August 2006, recognizing the impact
            of the project on EMC's success.
        </li>
        <li>Pioneered the development of a <strong>C#</strong> plugin that marshaled
            data between EMC libraries written in <strong>C/C++</strong> and Microsoft's
            <strong>Systems Center Operations Manager (SCOM)</strong> application. This
            integration streamlined operations and fortified the interoperability of EMC
            and Microsoft technologies, amplifying their joint capabilities.
        </li>
    </ul>
</details>