<details>
    <summary id="EMC">
        <div class="header">
            <span class="left">EMC / Dell</span>
            <span class="right">February 1997 - March 2009</span>
        </div>
        <div class="description">
            Alexandria, Virginia<br>
            <i>Principal Software Engineer</i>
        </div>
    </summary>
    <p>Initially hired to develop internal support systems team in Visual FoxPro. I quickly transitioned to the product
        division. My contributions were recognized with the
        EMC Most Valuable Player.</p>

    <ul class="projects-list">
        <li>Led teams in developing enterprise storage solutions in C/C++ and Java on a variety of Windows and UNIX
            platforms, optimizing storage management, collecting metrics and proactive alerting.</li>
        <li>Recognized with EMC's Most Valuable Player award for contributions to Java-based integration projects and
            client application frameworks.</li>
        <li>Spearheaded refactoring efforts that increased performance and reduced memory consumption considerably.</li>
        <li>Developed a Windows device driver to manage storage and report system resources, enhancing system
            performance and user productivity.</li>
        <li>Developed Microsoft Systems Center Operations Manager (SCOM) plugins in C# to integrate EMC libraries and
            streamline operations.</li>
    </ul>
</details>