<details>
    <summary id="gigatrust"> <span class="left"><strong>GigaTrust</strong></span> <span class="right">Herndon,
            Virginia</span><br> March 2009 - November 2019<br>
        <i>Software Development Manager / Principal Software Engineer</i>
    </summary>
    <p>At GigaTrust, I joined as a <strong>technical lead</strong> responsible for
        overseeing their desktop client applications. In this role, I
        <strong>managed</strong> a team of up to 6 individuals, providing support for a
        file system <strong>device driver</strong>. I played a key role in
        refactoring a monolithic <strong>VB6</strong> client application into a
        collection of reusable <strong>APIs</strong>, <strong>Windows Services</strong>,
        and new client and server applications developed in <strong>C/C++</strong> and <strong>C# .NET</strong>.
    </p>
    <p>GigaTrust's primary objectives was to enhance our customer's <strong>data
            security</strong> by safeguarding them against inadvertent leakage of
        sensitive information. Through the implementation of these
        applications and services, we were able to provide protection and mitigate
        potential risks for our clients.</p>
    <ul class="projects-list">
        <li>Led a team of 5-6 developers in the development and support of a large
            client application written in <strong>C++</strong> and <strong>Visual Basic
                6 (VB6)</strong>. Implemented a <strong>refactoring</strong> effort to
            transform the product into a set of <strong>APIs</strong> using
            <strong>C#</strong> and <strong>C/C++</strong>. This architectural shift
            allowed for code sharing across products and eliminated the need for the
            device driver. <ul>
                <li>Improved user experience, improved reliability, and simplified
                    maintenance.</li>
                <li>Reduced the codebase size by 90%.</li>
                <li>Increased efficiency through code refactoring, resulting in a team
                    size reduction from 7 to 1.</li>
                <li>Leveraged this new code reusability for accelerated development of new
                    products.</li>
            </ul>
        </li>
        <li>Reorganized the code base into separate manageable libraries and services and established a
            <strong>source control</strong> branching model using <strong>SVN</strong>.
            Implemented <strong>continuous integration</strong> with
            <strong>CruiseControl.NET</strong> through <strong>automation</strong> with <strong>NAnt</strong>,
            <strong>bash</strong>, and <strong>PowerShell scripts</strong>. CruiseControl.NET was later ported
            to
            <strong>Jenkins</strong> and <strong>SVN</strong> was replaced with <strong>Git</strong>.
            <ul>
                <li>These code improvements dramatically improved maintainability and support
                    enabling developers to dedicate their efforts to other projects, such
                    as the development of new Android and Apple iOS apps.</li>
                <li>Enhanced the maturity of the product and introduced software
                    development tools that adhered to best practices.</li>
            </ul>
        </li>
        <li> Played a key role in driving the adoption of <strong>Agile/Scrum</strong>
            methodologies for application development to enforce <strong>Digital Rights Management
                (DRM)</strong> for our customers. <ul>
                <li>Manipulated the behavior of Adobe Reader, Office applications, and
                    other Windows applications by injecting DLLs to change the applications
                    behavior to enable licensing and content
                    protection</li>
                <li>Used technologies such as <strong>Microsoft Active
                        Directory Rights Management (ADRMS)</strong>, <strong>Microsoft
                        Detours Library</strong>, <strong>Windows Hooks</strong>, and
                    <strong>Office Plugins</strong> with <strong>Visual Studio Tools for
                        Office (VSTO)</strong> to enforce content protection.
                </li>
            </ul>
        </li>
        <li>Implemented a process for delivering code to the quality assurance group,
            including a standard for regularly scheduled drops, <strong>unit
                tests</strong>, and <strong>test plans</strong>. This
            approach improved the efficiency of our development cycle and
            ensured a higher level of code quality. By establishing clear guidelines and
            milestones, we were able to effectively track and manage the progress of
            each release with actual measurements, facilitating smoother handoffs to the QA team. The
            introduction of comprehensive <strong>unit tests</strong> and <strong>test
                plans</strong> enhanced our testing strategy, allowing for accurate
            validation of software functionality and increased confidence in our
            deliverables. </li>
        <li><strong>Coordinated teams</strong> to address critical company
            or customer challenges promptly. <ul>
                <li>Assembled a dedicated team and successfully developed a brand-new
                    system from scratch within in just 2 months,
                    surpassing the previous team's two-year struggle to meet the project
                    requirements.</li>
            </ul>
        </li>
        <li>Led the migration effort to transition the version control
            system from <strong>Redmine</strong> to the industry-standard
            <strong>Jira</strong>, ensuring a seamless and efficient process.
        </li>
        <li>Played a pivotal role in facilitating the smooth adoption of
            <strong>git</strong> as the new version control system on
            <strong>BitBucket</strong>, enhancing our code management practices.
            This initiative showcased my meticulous attention
            to detail and technical proficiency while ensuring uninterrupted project
            operations and optimizing the team's productivity.
        </li>
    </ul>
</details>