<details>
    <summary id="gigatrust">
        <span class="header">
            <span class="left">GigaTrust</span>
            <span class="right">March 2009 - November 2019</span>
        </span>
        <div class="description">
            Herndon, Virginia<br>
            <i>Software Development Manager / Principal Software Engineer</i>
        </div>
    </summary>
    <p>GigaTrust's primary objectives was to enhance our customer's data security by safeguarding them against
        inadvertent leakage of sensitive information. As a technical lead I was responsible for overseeing development
        of desktop client applications.</p>
    <ul class="projects-list">
        <li>Managed team developing desktop client applications in C++, VB6, and C#, transforming monolithic
            applications into reusable APIs and services.</li>
        <li>Implemented Agile/Scrum methodologies for Digital Rights Management (DRM), enhancing product security and
            customer satisfaction.</li>
        <li>Led migration of version control systems to Jira and Git, improving code management and team collaboration.
        </li>
        <li>DevOps architecture and implementation of continuous integration (CI/CD) pipelines with CruiseControl.NET
            and Jenkins, enhancing development lifecycle efficiencies.</li>
        <li>Developed Windows device drivers and integrated DRM solutions into Adobe Reader and Office applications
            using VSTO.</li>
    </ul>
</details>