<details> <a name="assessment"></a> <a name="skillsassessment"></a>
    <summary id="skillsassessment"> <span class="left"><strong>Skills
                Assessment</strong></span> <span class="right">Ashburn, Virginia</span><br>
        November 2019 - January 2020 </summary>
    <p>In November 2019, GigaTrust unfortunately went bankrupt, leading to the closure
        of its operations. After nearly 11 years with GigaTrust and 12 years with EMC, I
        found myself out of work for the first time in almost 23 years.
        During this time, I focused on upgrading my skills and exploring new
        technologies.</p>
    <p>I dedicated my efforts to studying <strong>cloud computing</strong> and
        <strong>full-stack web development</strong>. Additionally, I refreshed my
        knowledge of <strong>Python</strong>, <strong>C++ 2.0</strong>, <strong>Java
            (including Spring and Spring Boot)</strong>, <strong>.NET</strong>,
        <strong>REST</strong>, <strong>JPA</strong>, <strong>Hibernate</strong>,
        <strong>HTML</strong>, <strong>CSS</strong>, and <strong>Angular</strong>. These
        efforts allowed me to stay up to date with the latest industry trends and expand
        my skill set.
    </p>
    <p>The closure of GigaTrust became a turning point in my professional journey,
        providing an opportunity for personal growth and skill development.</p>
    </p>
</details>