<details> <a name="assessment"></a> <a name="skillsassessment"></a>
    <summary id="skillsassessment">
        <div class="header">
            <span class="left">Skills Assessment</span>
            <span class="right">November 2019 - January 2020</span>
        </div>
        <div class="description">
            Ashburn, Virginia
        </div>
    </summary>
    <p>I found myself out of work for the first time in almost 25 years when GigaTrust went bankrupt and closed it's
        operations. During this time, I focused on upgrading my skills and exploring new technologies.</p>
    <p>I dedicated my efforts to studying cloud computing and full-stack web development. These efforts allowed me to
        stay up to date with the latest industry trends and expand my skill set.</p>
    <p>The closure of GigaTrust became a turning point in my professional journey, providing an opportunity for personal
        growth and skill development.</p>
    </p>
</details>