.fa-external-link-alt {
    visibility: hidden;
}

/* hide everything that shouldn't print */
header,
footer,
.headshot,
.page2-headshot,
.resume-headline {
    display: none;
}

body {
    font-size: 0.79em;
}

h1 {
    font-size: xx-large;
}

a {
    text-decoration: none;
}

summary::-webkit-details-marker {
    display: none;
}

details summary {
    font-size: larger;
    list-style-type: none;
    background-image: linear-gradient(to right, var(--dark-color), var(--light-color));
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

.sectionheader {
    font-size: x-large;
    font-weight: bold;
}

.flexdiv {
    display: flex;
    justify-content: space-between;
}

.two-column-list li {
    justify-content: space-between;
}

.two-column-list li .left {
    text-align: left;
}

.two-column-list li .right {
    text-align: right;
}

@page {
    size: auto;
    /* this is a trick so that page headers and footers don't show up on the printed page */
    margin: 20px;
}

.page2-header>.table>.column-two {
    text-align: center;
}

.page2-header .links>.table {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 10px;
}

.page2-header .links>.table>.column-one {
    text-align: right;
}

.page2-header .links>.table>.column-two {
    text-align: left;
}