:root {
    --dark-color: rgba(51, 135, 179, 1);
    --medium-color: rgb(80, 164, 197);
    --light-color: rgb(121, 212, 241);
}

.dark-color {
    color: var(--dark-color);
}

.medium-color {
    color: var(--medium-color);
}

.light-color {
    color: var(--light-color);
}

.left-pane>.links {
    display: none;
}

h1,
h2,
h3 {
    margin: 0px;
}

.page-break {
    border: none;
    height: 0;
}

body {
    font-family: Arial, sans-serif;
}

.headercontent>.address {
    text-align: center;
}

.headercontent>.links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headercontent>.links>.table {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 10px;
}

.headercontent>.links>.table>.cell {
    padding: 0;
    margin: 0;
}

.headercontent>.links>.table>.column-one {
    text-align: right;
}

.headercontent>.links>.table>.column-two {
    text-align: left;
}

details {
    margin: 5px 0;
}

details summary {
    justify-content: space-between;
    align-items: first baseline;
    position: relative;
}

summary span.left {
    position: absolute;
}

summary span.right {
    position: absolute;
    right: 5px;
    color: white;
}

.two-column-list {
    list-style-type: none;
}

.two-column-list li {
    justify-content: space-between;
}

.two-column-list li .left {
    text-align: left;
}

.two-column-list li .right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.skills {
    list-style-type: none;
    padding-inline-start: 20px;
}

.skill {
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: flex-start;
    /* Align items at the start vertically */
    padding: 4px 0;
    line-height: 1.2;
}

.skill-type {
    flex-basis: 25%;
    /* Ensure the skill type takes up 33% of the space */
    flex-shrink: 0;
    /* Prevent shrinking */
    max-width: 400px;
}

.skill-items {
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 0;
    flex-basis: 75%;
    /* Skill items take up the remaining space */
    flex-grow: 1;
    /* Allow skill items to grow */
}

.skill-items li {
    display: inline-block;
}

.skills.competency-level *::after {
    color: var(--dark-color);
    display: inline-block;
}

.hobbies-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 0px ;
    margin: 0;
}

.hobbies-list>li {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
}

.diamond::after {
    color: var(--dark-color);
    content: "◆";
}

.competency-level strong::after,
.competency-level li::after {
    padding-left: 0.25em;
    font-weight: normal;
}

.competency-level .novice::after,
.competency-level .beginner::after {
    content: "★☆☆";
}

.competency-level .intermediate::after,
.competency-level .advanced::after {
    content: "★★☆";
}

.competency-level .proficient::after,
.competency-level .expert::after {
    content: "★★★";
}

.competency-level .large.novice::after {
    content: "★☆☆☆☆";
}

.competency-level .large.beginner::after {
    content: "★★☆☆☆";
}

.competency-level .large.intermediate::after {
    content: "★★★☆☆";
}

.competency-level .large.advanced::after,
.competency-level .large.proficient::after {
    content: "★★★★☆";
}

.competency-level .large.expert::after {
    content: "★★★★★";
}