.fa-external-link-alt {
    visibility: hidden;
    width: 0;
}

/* hide everything that shouldn't print */
header,
footer,
.soundcloudplaylist,
.shadowbox>h1 {
    display: none;
}

details>.headshot {
    display: none;
}

.headshot {
    position: absolute;
    left: 10px;
    padding: 10px 0 0 10px;
    width: 110px;
    z-index: 10;
    
 }

/* Reset styles */
p {
    margin: 0px;
}

body {
    margin: 0 10px 0 10px;
    padding: 20px;
    padding: 0;
    font-size: 0.79em;
}

h1 {
    font-size: xx-large;
    color: var(--dark-color);
}

h2 {
    font-size: large;
    color: var(--dark-color);
}

h3 {
    color: var(--dark-color);
}

a:visited {
    font-weight: normal;
    color: inherit;
}

a:link {
    font-weight: normal;
    color: inherit;
}

.headercontent>.address {
    font-size: small;
}

.cover-letter {
    padding: 0;
    margin: 0;
}

.cover-letter-content {
    margin-top: 20px;
    padding: 0 10px 0 10px;
    font-size: 1.1em;
}

.cover-letter-content>p {
    margin: 8px 0 8px 0;
}

.shadowbox {
    font-size: 1.1em;
    padding: 10px;
}

.shadowbox>p {
    margin: 0;
    padding: 3px 5px 3px 0;
}

summary::-webkit-details-marker {
    display: none;
}

.no-page-break,
p,
li,
details summary {
    page-break-inside: avoid;
}

li {
    page-break-inside: avoid;
}

.page-break {
    page-break-after: always;
}

details summary {
    font-size: larger;
    font-weight: bolder;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 5px;
    border-top: 2px solid var(--dark-color);
}

details>div,
details>ul,
details>p {
    margin: 0;
}

details>p {
    padding: 3px 0px 3px 5px;
}

details>div {
    padding-left: 5px;
}

details>ul {
    margin: 3px 0 3px 0;
}

details>div {
    padding: 5px 0px 5px 10px;
}

.projects-list {
    padding-left: 20px;
}

.projects-list ul {
    list-style-type: square;
}

.projects-list>li {
    break-inside: avoid-page;
    margin-bottom: 5px;
}

.flexdiv {
    display: flex;
    justify-content: space-between;
}

.projects-list {
    margin: 0 10px;
}

.two-column-list {
    padding: 0;
    margin: 0;
}

.two-column-list li {
    margin: 0 10px;
    border-top: 1px solid #ccc;
    box-sizing: content-box;
    padding: 5px;
}

.two-column-list li .right {
    padding-right: 5px;
}

@media (min-width: 201px) {
    .hobbies-list {
        grid-template-columns: 1fr 15px 1fr 0px ;
    }
}

@media (min-width: 371px) {
    .hobbies-list {
        grid-template-columns: repeat(2, 1fr 15px) 1fr 0px;
    }
}

@media (min-width: 501px) {
    .hobbies-list {
        grid-template-columns: repeat(3, 1fr 15px) 1fr 0px;
    }
}

@media (min-width: 601px) {
    .hobbies-list {
        grid-template-columns: repeat(4, 1fr 15px) 1fr 0px;
    }
}

@media (min-width: 751px) {
    .hobbies-list {
        grid-template-columns: repeat(5, 1fr 15px) 1fr 0px;
    }
}

@media (min-width: 901px) {
    .hobbies-list {
        grid-template-columns: repeat(6, 1fr 15px) 1fr 0px;
    }
}

@media (min-width: 1051px) {
    .hobbies-list {
        grid-template-columns: repeat(7, 1fr 15px) 1fr;
    }
}

@page {
    size: auto;
    margin: 20px;
}

.page2-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page2-header>.table {
    display: grid;
    grid-template-columns: 100px auto 100px;
    gap: 0 10px;
    width: 100%;
}

.page2-header>.table>.cell {
    padding: 0;
    margin: 0;
}

.page2-header>.table>.column-one {
    text-align: left;
}

.page2-header>.table>.column-two {
    text-align: center;
}

.page2-header>.table>.column-three {
    text-align: right;
}


.page2-header .links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.page2-header .links>.table {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 10px;
}

.page2-header .links>.table>.cell {
    padding: 0;
    margin: 0;
}

.page2-header .links>.table>.column-one {
    text-align: right;
}

.page2-header .links>.table>.column-two {
    text-align: left;
}

.code-snippet {
    padding: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

.code-snippet pre {
    padding: 10px;
    border-radius: 4px;
    color: #000;
    white-space: pre-wrap;
    overflow-x: auto;
    background-color: #ccc;
}

.code-snippet pre code {
    display: block;
}

.resume-headline {
    display: none;
}