<div class="no-page-break">
    <details id="certifications">
        <summary class="sectionheader">Certifications</summary>
        <ul class="two-column-list">
            <li>
                <div class="flexdiv">
                    <span class="left">Currently pursuing AWS Certification</span>
                    <span class="right">In Progress</span>
                </div>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">Active Top Secret Security Clearance</span>
                    <span class="right">July, 2024</span>
                </div>
            <li>
                <div class="flexdiv">
                    <span class="left">C++ Associate Programmer, C++ Institute</span>
                    <span class="right">July, 2024</span>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">Microsoft Certified Solution Developer (MCSD)</span>
                    <span class="right">April, 1998</span>
                </div>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">Microsoft Certified Professional (MCP)</span>
                    <span class="right">March, 1998</span>
                </div>
            </li>
        </ul>
    </details>
</div>