<div class="no-page-break">
    <details id="certifications">
        <summary>
            <span class="header">
                <span class="left">Certifications</span>
                <span class="right"></span>
            </span>
        </summary>
        <ul class="two-column-list">
            <li>
                <div class="flexdiv">
                    <span class="left">U.S. Government Security Clearance</span>
                    <span class="right">(details upon request)</span>
                </div>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">
                        <a target="_blank" href="https://www.credly.com/badges/c4a46987-bf2f-46c1-908b-c96e8bd8dfc7"
                            class="link-with-indicator">
                            CKAD: Certified Kubernetes Application Developer
                            <i class="fas fa-external-link-alt fa-xs"></i>
                        </a><br>
                        The Linux Foundation & Cloud Native Computing Foundation
                    </span>
                    <span class="right">October, 2024</span>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">
                        <a target="_blank" href="https://verify.openedg.org/?id=wsKj.dFVJ.hnBd"
                            class="link-with-indicator">
                            C++ Associate Programmer
                            <i class="fas fa-external-link-alt fa-xs"></i>
                        </a><br>
                        C++ Institute
                    </span>
                    <span class="right">July, 2024</span>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">Microsoft Certified Solution Developer (MCSD) - expired</span>
                    <span class="right">April, 1998</span>
                </div>
            </li>
            <li>
                <div class="flexdiv">
                    <span class="left">Microsoft Certified Professional (MCP) - expired</span>
                    <span class="right">March, 1998</span>
                </div>
            </li>
        </ul>
    </details>
</div>