<details id="education">
    <summary class="sectionheader">Education</summary>
    <ul class="two-column-list">
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://la.utexas.edu/texasexeced/digitalVerification.html?key=WXLKL"
                        class="link-with-indicator">
                        Post Graduate Program in Cloud Computing
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    University of Texas at Austin<br>
                    Texas McCombs School of Business<br>
                    Post Graduate course to prepare students to get their AWS and
                    Azure certifications and expose them to other cloud providers
                    such as Google and IBM.<br>
                    4.26 GPA
                </span>
                <span class="right">March 2023 - October 2023</span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    Strayer University - Bachelors in Computer Science<br>
                    <i>Completed 4 years of college in one year by teaching myself the material and testing out of
                        classes.</i><br>
                    Summa Cum Laude (4.0 GPA)<br>
                </span>
                <span class="right">March 1998 - March 1999</span>
            </div>
        </li>

        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://learn.kodekloud.com/user/certificate/88ecd5a7-5b29-464a-ad57-e098fdaff4b7"
                        class="link-with-indicator">
                        Udemy Labs - Certified Kubernetes Application Developer
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    KodeKloud Training
                </span>
                <span class="right">
                    September, 2024
                </span>
            </div>
        </li>


        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://learn.kodekloud.com/user/certificate/e9274bc5-c2d1-41bb-9d57-6ed60699bc4c"
                        class="link-with-indicator">
                        Kubernetes Challenges
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    KodeKloud Training
                </span>
                <span class="right">
                    September, 2024
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://learn.kodekloud.com/user/certificate/e64ee79e-722c-47d7-b646-01d36b93405f"
                        class="link-with-indicator">
                        Udemy Labs - Online Kubernetes Lab for Beginners - Hands On
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    KodeKloud Training
                </span>
                <span class="right">
                    September, 2024
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://www.udemy.com/certificate/UC-0456a149-668a-4d44-8a71-db08bcbae9fa/"
                        class="link-with-indicator">
                        Kubernetes for the Absolute Beginners - Hands-on
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    KodeKloud Training
                </span>
                <span class="right">
                    September, 2024
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://www.udemy.com/course/spring-hibernate-tutorial/"
                        class="link-with-indicator">
                        Spring Boot 3, Spring 6 & Hibernate for Beginners
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    Udemy
                </span>
                <span class="right">
                    March, 2024
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://www.udemy.com/certificate/UC-33edba4d-56e5-45fc-9846-c3bad412b29d/"
                        class="link-with-indicator">
                        Go: The Complete Developer's Guide (Golang)
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    Udemy
                </span>
                <span class="right">
                    October, 2023
                </span>
            </div>
        </li>

        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://www.udemy.com/certificate/UC-18403cf1-33bc-4be9-baec-448b3267a7a0/"
                        class="link-with-indicator">
                        Working with React and Go (Golang)
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    Udemy
                </span>
                <span class="right">
                    October, 2023
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://www.udemy.com/certificate/UC-4c9d1865-3e14-439f-b087-ecf7fd9cdcf5/">
                        React Styled Components
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    WebDevEducation
                </span>
                <span class="right">
                    April, 2023
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://www.udemy.com/certificate/UC-1ce2fdd9-2fa0-4cf5-9a88-b1f354f3c30c/">
                        Deploying Java Spring Apps Online to Amazon Cloud (AWS)
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    Udemy
                </span>
                <span class="right">
                    March, 2023
                </span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank"
                        href="https://www.udemy.com/certificate/UC-bca2d1b8-eecf-4781-b04b-eb2c9fe04525/">
                        Create web app with Angular 12, .NET Core Web API & Mongo DB
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    Udemy
                </span>
                <span class="right">
                    March, 2023
                </span>
            </div>
        </li>
    </ul>
</details>