<details id="education">
    <summary class="sectionheader">
        <span class="header">
            <span class="left">Education</span>
            <span class="right"></span>
        </span>
    </summary>
    <ul class="two-column-list">
        <li>
            <div class="flexdiv">
                <span class="left">
                    <a target="_blank" href="https://la.utexas.edu/texasexeced/digitalVerification.html?key=WXLKL"
                        class="link-with-indicator">
                        Post Graduate Program in Cloud Computing
                        <i class="fas fa-external-link-alt fa-xs"></i>
                    </a><br>
                    University of Texas at Austin<br>
                    Texas McCombs School of Business<br>
                    Post Graduate course to prepare students to get their AWS and
                    Azure certifications and expose them to other cloud providers
                    such as Google and IBM.<br>
                    4.26 GPA
                </span>
                <span class="right">March 2023 - October 2023</span>
            </div>
        </li>
        <li>
            <div class="flexdiv">
                <span class="left">
                    Strayer University - Bachelors in Computer Science<br>
                    <i>Completed 4 years of college in one year by teaching myself the material and testing out of
                        classes.</i><br>
                    Summa Cum Laude (4.0 GPA)<br>
                </span>
                <span class="right">March 1998 - March 1999</span>
            </div>
        </li>
    </ul>
</details>