<details open> 
    <a name="employment"></a> 
    <a name="history"></a> 
    <a name="employmenthistory"></a>
    <summary class="sectionheader">
        <div class="header">
            <span class="left">Employment History</span>
            <span class="right"></span>
        </div>
    </summary>
    <div>
        {% include resume/employmenthistory/altamira.html %}
        {% include resume/employmenthistory/amazon.html %}
        {% include resume/employmenthistory/skillsassessment.html %}
        {% include resume/employmenthistory/gigatrust.html %}
        {% include resume/employmenthistory/demayenterprises.html %}
        {% include resume/employmenthistory/emc.html %}
    </div>
</details>