<div class="no-page-break">
    <details id="patents">
        <summary class="sectionheader">
            <div class="header">
                <span class="left">Patents</span>
                <span class="right"></span>
            </div>
        </summary>
        <ul class="two-column-list">
            <li>
                <div class="flexdiv">
                    <span class="left"> US Patent 7,233,957 B1<br> "Method and Apparatus for
                        identifying and Processing Changes to Management Information" </span>
                    <span class="right"> June, 2007 </span>
                </div>
            </li>
        </ul>
    </details>
</div>