<details open>
    <summary id="professionalskills">
        <span class="header">
            <span class="left">Professional Skills</span>
            <span class="right"></span>
        </span>
    </summary>
    <ul class="skills competency-level">
        <li class="skill">
            <strong class="skill-type large proficient">Security:</strong>
            <ul class="skill-items">
                <li class="diamond">Active Top Secret Security Clearance</li>
                <li>Digital Rights Management (DRM/ADRMS)</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large proficient">Cloud Platforms:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">AWS</li>
                <li>Azure</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">Backend Development:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">SQL</li>
                <li class="diamond">Java</li>
                <li class="diamond">Spring Boot</li>
                <li>Classic ASP</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large intermediate">Frontend Development:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">HTML</li>
                <li class="diamond">CSS</li>
                <li class="diamond">JavaScript</li>
                <li class="diamond">TypeScript</li>
                <li class="diamond">Angular</li>
                <li>React</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">Device Drivers, Windows Services, APIs:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">C/C++</li>
                <li class="diamond">Rust</li>
                <li>GoLang</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">Windows Desktop Applications:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">C# .NET</li>
                <li class="diamond">Visual Basic 6.0</li>
                <li>Visual FoxPro</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">Scripting:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">Python</li>
                <li class="diamond">PowerShell</li>
                <li class="diamond">bash</li>
                <li class="diamond">Ruby</li>
                <li>Regular Expressions (RegEx)</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large proficient">Databases:</strong>
            <ul class="skill-items competency-level">
                <span class="diamond">RDBMS
                    (<li class="diamond">SQL Server</li>
                    <li class="diamond">MySQL</li>
                    <li>PostgreSQL</li>)
                </span>
                NoSQL
                (<li class="diamond">MongoDB</li>
                <li>DynamoDB</li>)
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">Containerization:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">Docker</li>
                <li>Kubernetes</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large intermediate">CI/CD and DevOps:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">CruiseControl</li>
                <li class="diamond">NANT</li>
                <li class="diamond">Jenkins</li>
                <li class="diamond">Jira</li>
                <li>AWS CI/CD Tools</li>
            </ul>
        </li>
        <li class="skill">
            <strong class="skill-type large expert">System Architecture:</strong>
            <ul class="skill-items competency-level">
                <li class="diamond">System Design</li>
                <li class="diamond">Distributed Systems</li>
                <li class="diamond">Microservices</li>
                <li class="diamond">RESTful APIs</li>
                <li class="diamond">Cloud</li>
                <li>PlantUML</li>
            </ul>
        </li>
    </ul>
</details>