<details open>
    <summary>
        <span class="header">
            <span class="left">Summary</span>
            <span class="right"></span>
        </span>
    </summary>
    <img src="assets/images/tomdemayheadshot.jpg" alt="Tom DeMay Headshot" class="headshot">
    <p> With over 30 years of experience as a software engineer, my expertise extends beyond
        technical knowledge. I have a comprehensive understanding of the entire software
        lifecycle, covering concept development, implementation, testing, delivery, and user
        acceptance. In fast-paced environments that demand problem-solving skills, whether it's
        creating innovative solutions, resolving customer issues, or equipping our team with the
        right tools, you can rely on my dedication, mentoring skills, and unwavering commitment
        to the company and customer mission. I have a strong passion for continuous learning and
        have embraced various platforms and roles, including developer, architect, team leader,
        and project manager. Throughout my career, I have gained diverse experiences in
        application development, device driver development, database applications, web
        development, and more.</p>
</details>