<details id="personalexperience">
    <summary>
        <span class="header">
            <span class="left">Personal Experience</span>
            <span class="right"></span>
        </span>

    </summary> <a name="personal"></a>
    <div>
        {% include aboutme/personalexperience/findingmypath.html %}
        {% include aboutme/personalexperience/myjourney.html %}
        {% include aboutme/personalexperience/discountcasinogear.html %}
        {% include aboutme/personalexperience/family.html %}
        {% include aboutme/personalexperience/music.html %}
        {% include aboutme/personalexperience/aviation.html %}
        {% include aboutme/personalexperience/sports.html %}
        {% include aboutme/personalexperience/other.html %}
    </div>
</details>