<details id="aviation">
    <summary>Aviation</summary>
    <p> In the year 2000, my path crossed with an individual who was immersed in the
        pursuit of their pilot's license. Intrigued by the prospect of taking flight, I
        quickly became captivated by the idea. I didn't know that was a thing you could
        do. It didn't take long for my own enthusiasm to take flight as well. Within a
        mere two months, I had obtained my very own pilot's license, embarking on a
        thrilling journey of soaring through the skies with my family in tow. Exploring
        the skies above the bustling regions of DC, Maryland, and Virginia became a
        sense of freedom unlike any other. </p>
    <p> It was a fortuitous timing, as I had acquired my pilot's license a year prior to
        the tragic events of September 11, 2001. The aftermath of that fateful day
        brought forth significant changes in airport security measures, leading to
        heightened scrutiny and challenges for individuals whole recently obtained a
        pilot's license. During this period, our teams at EMC traveled to our office
        outside of Boston ever week for a few months. Being flagged and encountering
        difficulties at airport security checkpoints became an unfortunate reality I had
        to contend with, making getting home a challenge. I found myself spending
        numerous days and nights sleeping or diligently working on the floor of the
        airport. </p>
</details>
