<details id="family">
    <summary>Family</summary>
    <p> I was actually born way back in 1968 in Camden, New Jersey, but we lived in Long
        Island, New York at the time. I'm the third out of four children in my family.
        My awesome older sister Dawn came first, followed by my older brother Robert,
        and then there's me. Lastly, we have my younger brother Christopher. </p>
    <p> To be honest, I don't have many vivid memories of living in Long Island since I
        was quite young when we moved to Margate, Florida. We stayed there until just
        before I started 2nd grade. After that, we relocated to San Jose, California,
        where we spent my 2nd through 5th grade years. But the journey didn't stop
        there! We then packed our bags and made our way to Springfield, Virginia. We've
        been calling Northern Virginia our home ever since! </p>
    <p> After finishing high school at Hayfield High School in Alexandria, Virginia in
        1986, I met the love of my life, Julie DeMay, and we got married in 1991. We
        enjoyed living in Ashburn for about 15 years, but because it's such an expensive
        area, we eventually made the move 45 minutes west to Winchester, Virginia. </p>
    <p> Back in 1997, our hearts overflowed with joy as we welcomed our first child,
        Melissa (affectionately known as Missy) DeMay, into this world. The excitement
        continued in 2000 when our daughter Rachel arrived, filling our lives with even
        more love. And just when we thought our family was complete, our first son,
        Trevor, joined us in 2002, bringing immense happiness. But life had another
        surprise in store for us! Twelve years later, in 2014, our youngest bundle of
        joy, Oliver DeMay, came into our lives, catching us completely off guard and
        filling our hearts with even more love and laughter. </p>
    <p> My sister's son, Andrew DeMay, came to live with us at the age of 14. We gladly
        took custody of him and raise him as our own. Andrew transcended his role as a
        cousin to my children and a nephew to my wife and me. He became an integral part
        of our family, a beloved son in every sense. To my children, he is not merely a
        cousin; he is a cherished sibling. Interestingly, Andrew and Missy share a
        unique bond as they were born just a few days apart. Now, we eagerly anticipate
        the arrival of our first grandchild, who will be lovingly welcomed into this
        world by Andrew and his partner, Emma. </p>
</details>