<details id="findingmypath">
    <summary>
        <div class="header">
            <span class="left">Finding My Path</span>
            <span class="right"></span>
        </div>
    </summary>
    <a name="path"></a>
    <p> After high school, I made the decision to dive straight into the workforce. I
        felt too immature to continue my education in college, especially considering I
        had been a very poor student in high school, graduating with a 1.7 GPA. My
        parents had me tested and determined that I was simply bored. They believed I
        had the capability to do the work, but I lacked motivation. Going to college at
        that time would have been a waste of money, especially since I had no clear
        career path in mind. </p>
    <p> Personal computers were just becoming affordable for widespread use. My dad
        purchased an 8088 computer and I started to play with it. In 10th grade, I took
        an introductory programming course where we learned 'Basic' programming. The
        teacher, being new to the subject and a math teacher with no prior computer
        experience, was learning alongside us. However, the pace of learning didn't
        match my enthusiasm for the subject. It was one class I was truly passionate
        about and performed well in. The following year, I took a 'COBOL' programming
        course. </p>
    <p> Back then, being into computers often labeled you as a "nerd," so I resisted and
        pushed back against my dad, who frequently told me that I would become a
        software engineer. I explored different paths for a while. At 19, I thought I
        might want to be a stockbroker, so I picked up some books and took the necessary
        tests to obtain my Series 6 and 63 licenses within a span of 2-3 months.
        However, being an immature 19-year-old, no one wanted financial advice from me,
        so that venture didn't work out too well. </p>
    <p> I went on to work at two different banks, a stockbroker firm as a cashier, and
        later as an administrative assistant at the Construction Specifications
        Institute. During my time there, I even had the opportunity to pose as a hand
        model for an advertisement featured in their magazine, which was quite
        enjoyable. It was at that job where I started to dabble in programming, writing
        'Basic' applications for myself and interacting with their mainframes. </p>
    <p> After my boss and I were laid off, she connected me with her son, who managed a
        team involved in computer sales to the federal government. I joined the team but
        quickly grew frustrated with the lack of software tools available for the sales
        force. Our vendors would send pricing information on a disk every month, only
        for it to end up in the trash. Since we were selling Fox Software's Fox Pro, I
        managed to obtain a free copy and began writing database applications. I
        developed a system to manage contacts, pricing, quotations, and order entry.
        That's when I discovered my true passion. I finally accepted that I had a
        developer's heart and embraced a role within the company creating tools for the
        entire organization. In my early 20s, I found myself managing a team of four,
        building internal systems with no formal training. </p>
    <p> I was on my way. </p>
</details>