<details id="music">
    <summary>
        <span class="header">
            <span class="left">Music</span>
            <span class="right"></span>
        </span>
    </summary>
    <p> When I was just 8 years old, I had a strong desire to learn guitar. So, I asked
        my parents to sign me up for guitar lessons. Naturally, they enrolling me in
        piano lessons instead. They believed it was a logical choice as I already showed
        an interest in the piano and had been teaching myself a bit. Although I took
        piano lessons until I was 16, I never quite applied myself or practiced
        diligently because I was more fascinated by blues and jazz, eager to learn
        improvisation rather than the classical music I was being taught. </p>
    <p> Back in the late 90s, fate stepped in when I met someone at Kits Jordan Music
        who was playing exactly the type of music I wanted to learn. Inspired, I asked
        him for lessons. He generously gave me two before disappearing with my money,
        but those two lessons proved to be invaluable. He introduced me to the
        pentatonic scale, and from that point on, I was off and running, eager to
        explore the world of music. I dabbled writing my own music which you can listen
        to below. </p>
    <p> In the late 2000s, I had an exciting opportunity to play keyboards in a local
        band, despite never having done so before. I thought, "Why not?" Thankfully, the
        band members were incredibly patient with me and took the time to show me the
        ropes. This experience propelled me to form my own bands and join various local
        groups, diving into the realms of classic rock, blues, and even venturing into
        The Grateful Dead and country music. I had the privilege of playing at a high
        level, including performances at the Washington DC Cherry Blossom festival
        downtown and the opening of Massanutten, Virginia's ski resort for the fall and
        winter seasons. </p>
    <p> I found my groove on the keyboards, but also dabbled in guitar during my teenage
        years. I had the opportunity to perform on guitar in both country and classic
        rock bands. Not stopping there, I picked up the harmonica to jam out to Led
        Zeppelin's "When the Levee Breaks" and Robert Palmer's "Sneaking through the
        Alley with Sally" in our classic rock band. The banjo caught my interest next,
        and I learned it to play Zac Brown Band's catchy tune "Chicken Fried" with my
        country band, along with other popular country songs. </p>
    <p> Among the many memorable moments, one that stands out is the time I got to share
        the stage with Rick Nielsen, the mastermind behind Cheap Trick's hit song "I
        Want You to Want Me." We crossed paths at a hotel after their performance at the
        Superdome in New Orleans, and I was honored to join him on stage, playing that
        very song. It was an unforgettable experience, etched deeply into my musical
        journey. </p>
    <div class="soundcloudplaylist">
        <iframe width="100%" height="400" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1627487941&color=%23ff5500&auto_play=false&hide_related=false&show_comments=false&show_user=false&show_reposts=false&show_teaser=false&visual=false"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
            <a href="https://soundcloud.com/tom-demay" title="Tom DeMay" target="_blank"
                style="color: #cccccc; text-decoration: none;">Tom DeMay</a> · <a
                href="https://soundcloud.com/tom-demay/sets/featured-tracks" title="Featured Tracks" target="_blank"
                style="color: #cccccc; text-decoration: none;">Featured Tracks</a>
        </div>
    </div>
</details>