<details id="journey">
    <summary>
        <div class="header">
            <span class="left">My Software Engineering Journey</span>
            <span class="right"></span>
        </div>
    </summary>
    <a name="mysoftwareengineeringjourney"></a> <a name="softwareengineering"></a>
    <p> Microsoft acquired Fox Software to utilize their Rushmore technology for
        building Microsoft SQL Server, which eventually led to the release of Microsoft
        Visual FoxPro. It was my first exposure to object-oriented programming, and I
        was instantly captivated. I actively promoted myself within the small FoxPro
        community, writing articles for Advisor Publications and even gracing the cover
        once. I also presented at user group meetings. However, FoxPro was often
        considered a lesser programming language, so I desired to expand my knowledge. I
        began teaching myself C/C++ and left my job to pursue an opportunity to work
        alongside renowned figures in the FoxPro community. I hoped to gain insight into
        System Design and Architecture, particularly in the emerging field of
        client-server databases. I developed applications using Microsoft SQL Server on
        the backend, wrote articles for Advisor Publications, and delivered talks at
        local user groups to share my experiences. </p>
    <p> I had no formal training in software engineering, but my enthusiasm to learn was
        insatiable. I continued writing articles and wholeheartedly pursued my dream of
        becoming a Software Engineer. Eventually, I landed my first role as a C/C++
        engineer in my early 30s, working for a company that was later acquired by EMC
        (now part of Dell). I earned a reputation for being a dedicated worker and a
        skilled engineer, which led to a managerial position by my early 30s. I led a
        team of six people in developing a library used by 200 other EMC developers to
        build applications on top of it. It was a highly prominent and rewarding job,
        where I even received my first patent. </p>
    <p> EMC offered its employees the benefit of continued education reimbursement, and
        I seized that opportunity. At the age of 30, I returned to school to pursue a
        Bachelor's degree in Computer Information Systems. Eager to expedite my degree,
        I self-taught most of the material, took CLEP tests to test out of certain
        classes, and assembled portfolios to demonstrate my knowledge and receive
        credits for relevant life experience. I completed four years of school and
        graduated Summa Cum Laude with a perfect 4.0 average a year later. </p>
    <p> I spent nearly 12 years at EMC before moving on to work for a small startup
        company. Eventually, I found myself at Amazon AWS. Along the way, I continued
        teaching myself various technologies and programming languages. My passion lies
        in refactoring code, mentoring junior developers, and taking ownership of the
        entire software delivery process. </p>
    <p> The rest is history... I was on my way. </p>
</details>