<details id="other">
    <summary>
        <div class="header">
            <span class="left">Other Interests</span>
            <span class="right"></span>
        </div>
        <div class="description">
            Craft Beers, Cloud Computing and Learning
        </div>
    </summary> 
        <a name="craftbeers"></a> 
        <a name="cloudcomputing"></a> 
        <a name="learning"></a> 
        <a name="otherinterests"></a> 
        <a name="craftbeerscloudcomputingandlearning"></a>
    <p> Craft beer has been a long-standing passion of mine, even before it gained
        widespread popularity. I consider myself fortunate to have had Old Dominion
        Brewery, one of only two microbreweries in Northern Virginia, located just down
        the street. It was there that I embarked on an exploration of diverse and
        intriguing beer options, accompanied by friends who were equally eager to
        venture into uncharted territories of flavor. </p>
    <p> My curiosity extends beyond the realm of beer. I find great enjoyment in delving
        into new technologies, particularly in the field of cloud computing. Engaging in
        spirited discussions with individuals who possess superior knowledge and
        expertise fuels my thirst for learning. It brings me immense satisfaction to not
        only absorb knowledge from these encounters but also to pass it on to younger
        generations, empowering them with valuable insights. </p>
    <p> An avid enthusiast of acquiring new skills, I revel in the opportunity to save
        money and have fun with my children simultaneously. Over the years, I have taken
        on a multitude of projects, including building decks, remodeling basements,
        handling plumbing and electrical work, relocating bathrooms, setting up home
        gyms, undertaking various home improvement endeavors and performing general
        automotive maintenance with my kids. </p>
    <p> During the early 2000s, I attended a community Monte Carlo night that proved to
        be a turning point. It was there that I first encountered the game of Craps.
        Intrigued by its dynamics, I acquired a small 3-in-1 game table capable of
        accommodating roulette, blackjack, and, of course, Craps. Weekends became an
        opportunity to gather with neighbors, engaging in lively sessions of dart
        throwing and spirited Craps gameplay. </p>
    <p> Motivated by a desire to enhance my woodworking abilities, I embarked on a
        project to create my own Craps table. While my initial attempt was a humble box
        hastily put together and stained, it surprisingly generated tremendous interest
        when I listed it on E-Bay. The overwhelming response spurred me to refine my
        craftsmanship, leading to a series of Craps tables that I crafted and sold on
        the platform. Eventually, this entrepreneurial spirit prompted me to venture
        into the realm of website creation, evolving my initial venture, "Game Tables by
        DeMay," into the flourishing enterprise known as <a
            href="https://www.discountcasinogear.com/" target="_blank">Discount Casino
            Gear <i class="fas fa-external-link-alt fa-xs"></i></a>. </p>
    <p> Currently, I am focused on expanding my expertise by pursuing certifications in
        AWS and Azure. This endeavor aligns with my active engagement in various
        front-end and back-end technologies, including Angular, Spring, Spring Boot,
        JavaScript, as well as my commitment to staying abreast of the latest
        advancements in C/C++, C#, and Java. Continual growth and exploration in the
        ever-evolving world of technology drive my pursuit of knowledge and expertise.
    </p>
</details>
