<footer class="no-page-break">
    <div class="table">
        <div class="cell column-one">
            LinkedIn:
        </div>
        <div class="cell column-two">
            <a href="https://www.linkedin.com/in/demaytom/" target="_blank">
                Tom DeMay<i class="fas fa-external-link-alt fa-xs"></i>
            </a>
        </div>
        <div class="cell column-one">
            GitHub:
        </div>
        <div class="cell column-two">
            <a href="https://github.com/tomdemay" target="_blank">
                Tom DeMay on GitHub<i class="fas fa-external-link-alt fa-xs"></i>
            </a>
        </div>
        <div class="cell column-one">
            Stack Overflow:
        </div>
        <div class="cell column-two">
            <a href="https://stackoverflow.com/users/1932930/tdemay" target="_blank">
                Tom DeMay on Stack Overflow<i class="fas fa-external-link-alt fa-xs"></i>
            </a>
        </div>
        <div class="cell column-one">
            Recommendations
        </div>
        <div class="cell column-two">
            <a href="https://www.linkedin.com/in/demaytom/details/recommendations/" target="_blank">
                LinkedIn Recommendations <i class="fas fa-external-link-alt fa-xs"></i>
            </a>
        </div>
        <div class="cell column-one">
            SoundCloud:
        </div>
        <div class="cell column-two">
            <a href="https://soundcloud.com/tom-demay/sets/featured-tracks" target="_blank">
                Stream Tom DeMay's Music <i class="fas fa-external-link-alt fa-xs"></i>
            </a>
        </div>
    </div>
</footer>
<br/>
<br/>
