<div class="left-pane">
    <img src="assets/images/tomdemayheadshot.jpg" alt="Tom DeMay Headshot"
        class="headshot">
    <div class="links">
        <ul class="competency-level">
            <a href="#professionalskills"><li class="expert">C/C++</li></a>
            <a href="#professionalskills"><li class="intermediate">Rust</li></a>
            <a href="#professionalskills"><li class="intermediate">GoLang</li></a>
            <a href="#professionalskills"><li class=" proficient">Docker</li></a>
            <a href="#professionalskills"><li class="intermediate">Kubernetes</li></a>
            <a href="#professionalskills"><li class="expert">C#</li></a>
            <a href="#professionalskills"><li class="expert">Python</li></a>
            <a href="#professionalskills"><li class="advanced">Java</li></a>
            <a href="#professionalskills"><li class="intermediate">AWS</li></a>
            <a href="#professionalskills"><li class="advanced">PowerShell</li></a>
            <a href="#professionalskills"><li class="advanced">SQL</li></a>
        </ul>
        <br>
        <a href="https://www.linkedin.com/in/demaytom/" target="_blank">
            LinkedIn <i class="fas fa-external-link-alt fa-xs"></i>
        </a><br>
        <a href="https://github.com/tomdemay" target="_blank">
            GitHub <i class="fas fa-external-link-alt fa-xs"></i>
        </a><br>
        <a href="https://stackoverflow.com/users/1932930/tdemay" target="_blank">
            Stack Overflow <i class="fas fa-external-link-alt fa-xs"></i>
        </a><br>
        <a href="https://www.linkedin.com/in/demaytom/details/recommendations/" target="_blank">
            Recommendations <i class="fas fa-external-link-alt fa-xs"></i>
        </a><br>
        <a href="https://soundcloud.com/tom-demay/sets/featured-tracks" target="_blank">
            SoundCloud <i class="fas fa-external-link-alt fa-xs"></i>
        </a>
    </div>
</div>