<nav>
    <div class="tomdemaypro-logo">
        <img src="assets/images/tomdemaypro-darkgrey.png" alt="tomdemaypro" />
        <div class="logo-full">Thomas J. DeMay, II</div>
        <div class="logo-short">Tom DeMay</div>
    </div>
    <div></div>
    <input type="checkbox" id="dropdown-menu-check-box" class="dropdown-menu-check-box" />
    <label for="dropdown-menu-check-box" class="hamburger-menu">
        <span class="menu-icon">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </span>
    </label>
    <ul class="navigation-menu-items">
        <li><a href="index.html">About Me</a></li>
        <li><a href="resume.html">Resume</a></li>
        <li><a href="contactme.html">Contact Me</a></li>
        <li><a href="aboutthissite.html">About Site</a></li>
        {% if page.enable_print_to_pdf %}
        <li class="download-menu-item">
            <a id="download-button" class="show-download-label-checkbox" onclick="window.print(); return false;">Print
                to PDF</a>
        </li>
        {% endif %}
    </ul>
</nav>