<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/default-styles.css" | relative_url }}">
    {% if page.bullet_style_resume %}
        <link id="print-css" rel="stylesheet" href="{{ "/assets/css/print-styles.css" | relative_url }}">
    {% else %}
        <link id="print-css" rel="stylesheet" href="{{ "/assets/css/print-styles.css" | relative_url }}" media="print">
        <link id="screen-css" rel="stylesheet" href="{{ "/assets/css/screen-styles.css" | relative_url }}" media="screen">
    {% endif %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">
</head>

<body>
    <header>
        {% include sitelayout/sitenavigation.html %}
    </header>

    <section id="about" class="content">

        {% include sitelayout/leftpane.html %}

        <div class="stacked-container">

            {% if page.print_cover_letter %}
            {% include resume/coverletter.html %}
            {% include_relative _includes/sitelayout/headercontent.html %}
            {% endif %}

            <div class="right-pane">
                {{ content }}
            </div>

            {% include sitelayout/footer.html %}

        </div>
    </section>

    <body>

        <script src="{{ '/assets/js/script.js' | relative_url }}">
        </script>

</html>